configparser
cryptography
dash-auth==1.3.2
dash-core-components==1.2.1
dash-html-components==1.0.1
dash==1.3.1
flask
image
jsonify==0.5
pyjwt
mock==3.0.5
pyalsaaudio
pyfakefs
pynput==1.4.4
pyscreenshot
pytest
wtforms
opencv-python
